# Node.js
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Build artifacts (if applicable)
dist/
build/

# Temporary files
.DS_Store
Thumbs.db

# Cache
.npm/
.eslintcache

# REPL history
.node_repl_history

package-lock.json
yarn.lock